body {
    background-image: url("../img/background-image-page.png");
    background-size: cover;
}

.page-all {
    width: 100%;
    /*width: 1366px;*/
    /*height: 840px;*/
    /*margin: auto;*/
    /*background-image: url("../img/background-image-page.png");*/
    /*background-size: cover;*/
    font-family: Verdana, sans-serif;
    align-content: center;
}

.top-shadow-block {
    background-color: black;
    height: 54px;
    opacity: 0.6;
}

.top-navigation {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    /*width: 1366px;*/
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.clearfix {
    clear: both;
    display: block;
}

.logo-name {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    float: left;
    padding-top: 19px;
    padding-left: 81px;
}

.logo-name:hover {
    color: #3CB878;
    transition: 0.5s;
}

.top-right-text-link {
    color: white;
    text-decoration: none;
}

.top-right-text-link:hover {
    color: #3CB878;
    text-decoration: underline;
}

.icon-navigation {
    display: inline-block;
    float: right;
    padding-top: 17px;
}

.icon-calender {
    width: 19px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position-y: 40px;
    display: inline-block;
}

.icon-calender:hover {
    background-position-x: 57px;
}

.icon-forum {
    width: 28px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position-y: 20px;
    display: inline-block;
    margin-left: 21px;
}

.icon-forum:hover {
    background-position-x: 48px;
}

.icon-compass {
    width: 20px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position-x: 27px;
    display: inline-block;
    margin-left: 21px;
}

.icon-compass:hover {
    background-position-x: 20px;
    background-position-y: 39px;
}

.division-line {
    border: solid grey 0.5px;
    width: 0.5px;
    border-radius: 5px;
    margin-right: 36px;
    margin-left: 38px;
}

.top-right-navigation-part {
    float: right;
    padding-right: 81px;
    padding-top: 19px;
}

.modal-window {
    width: 444px;
    /*height: 584px;*/
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 110px;
    margin-bottom: 64px;
}

.green-square {
    width: 18px;
    height: 18px;
    background-image: url("../img/spritesheet.png");
    display: inline-block;
    background-position-x: 38px;
    background-position-y: 38px;
    margin-top: 22px;
    float: left;
}

.form-content {
    width: 322px;
    margin: 22px 60px;
}

.form-text-sign-up {
    font-size: 19px;
    float: left;
}

.form-link-login {
    text-decoration: none;
    font-size: 13px;
    color: #3CB878;
    float: right;
    padding-top: 5px;
}

.form-link-login:hover {
    text-decoration: underline;
}

.button-facebook {
    display: inline-block;
    float: left;
    width: 158px;
    background-color: #305DB8;
    border-radius: 3px;
    margin-top: 16px;
}

.button-facebook:hover {
    background-color: #264B96;
    transition: 0.5s;
}

.facebook-icon {
    width: 10px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position-x: 38px;
    display: inline-block;
}

.button-facebook-content {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 21px;
}

.form-division-line-facebook {
    font-size: 20px;
    border: solid 0.5px black;
    width: 0.5px;
    opacity: 0.1;
    margin-left: 18px;
    margin-right: 18px;
}

.text-facebook {
    font-size: 16px;
    color: white;
    display: inline-block;
    float: right;
    padding-top: 4px;
}

.button-google {
    display: inline-block;
    float: right;
    width: 158px;
    background-color: #DF4A32;
    border-radius: 3px;
    margin-top: 16px;
}

.button-google:hover {
    background-color: #C3412C;
    transition: 0.5s;
}

.google-icon {
    width: 25px;
    height: 16px;
    background-image: url("../img/spritesheet.png");
    display: inline-block;
}

.button-google-content {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
}

.form-division-line-google {
    font-size: 20px;
    border: solid 0.5px black;
    width: 0.5px;
    opacity: 0.1;
    margin-left: 9px;
    margin-right: 22px;
}

.text-google {
    font-size: 16px;
    color: white;
    display: inline-block;
    float: right;
    padding-top: 3px;
}

.form-line-left {
    background-color: lightgrey;
    width: 135px;
    display: inline-block;
    margin-top: 29px;
    float: left;
    opacity: 0.4;
}

.form-text-or {
    display: inline-block;
    font-size: 14px;
    color: lightgrey;
    padding-top: 21px;
    padding-left: 17px;
}

.form-line-right {
    background-color: lightgrey;
    width: 135px;
    display: inline-block;
    margin-top: 29px;
    float: right;
    opacity: 0.4;
    margin-bottom: 17px;
}

.form-input {
    border: solid 0.5px lightgrey;
    margin-bottom: 17px;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px 2px lightgrey;
    transition: 0.5s;
}

.checkbox-wrap {
    margin-bottom: 25px;
    position: relative;
}

.form-checkbox {
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

.nice-checkbox {
    width: 20px;
    height: 20px;
    border: solid 0.5px lightgrey;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    left: 0;

}

.form-checkbox:checked ~ .nice-checkbox {
    background-image: url("../img/checkbox-green.png");
}


.checkbox-text-all {
    font-size: 14px;
    padding-left: 30px;

}

.checkbox-text-terms {
    text-decoration: none;
    color: #3CB878;
}

.checkbox-text-terms:hover {
    text-decoration: underline;
}

.button-create-account {
    width: 322px;
    background-color: #3CB878;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: none;
}

.button-create-account:hover {
    background-color: #329A65;
    cursor: pointer;
}